<!-- Footer -->
<footer class="fixed bottom-0 left-0  w-full bg-white border-t border-gray-200 shadow-md z-50 font-[Inter]">
  <div class="flex justify-around items-center px-4 py-2 bg-yellow-300 text-gray-700 text-xs">

    <a href="/customer/category" class="flex flex-col items-center justify-center hover:text-green-600 transition-colors">
      <i class="fas fa-th-list text-lg mb-1"></i>
      <span>Category</span>
    </a>

    <a href="/customer/all-menu" class="flex flex-col items-center justify-center hover:text-green-600 transition-colors">
      <i class="fas fa-utensils text-lg mb-1"></i>
      <span>Menu</span>
    </a>

    <a href="/customer/cart/view" class="flex flex-col items-center justify-center hover:text-green-600 transition-colors">
      <i class="fas fa-shopping-cart text-lg mb-1"></i>
      <span>Cart</span>
    </a>

    <!-- <a href="#" class="flex flex-col items-center justify-center hover:text-green-600 transition-colors">
      <i class="fas fa-wallet text-lg mb-1"></i>
      <span>Payment</span>
    </a> -->

    <a href="/customer/order-confirmation" class="flex flex-col items-center justify-center hover:text-green-600 transition-colors">
      <i class="fas fa-receipt text-lg mb-1"></i>
      <span>Orders</span>
    </a>
  </div>
</footer>


    <script src="/javascripts/flashMessages.js"></script>
</body>
</html>
